<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Cost Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Insurance Cost Predictor</h1>
        <form method="post">
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="sex">Sex:</label>
                <select id="sex" name="sex" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="bmi">BMI:</label>
                <input type="number" id="bmi" name="bmi" step="0.1" required>
            </div>
            <div class="form-group">
                <label for="children">Number of Children:</label>
                <input type="number" id="children" name="children" required>
            </div>
            <div class="form-group">
                <label for="smoker">Smoker:</label>
                <select id="smoker" name="smoker" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="region">Region:</label>
                <select id="region" name="region" required>
                    <option value="northeast">Northeast</option>
                    <option value="northwest">Northwest</option>
                    <option value="southeast">Southeast</option>
                    <option value="southwest">Southwest</option>
                </select>
            </div>
            <button type="submit" >Predict</button>
        </form>
        {% if prediction %}
        <div class="prediction">
            <h2>Predicted Insurance Cost:</h2>
            <p>{{ prediction }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>